<div id="<%= dom_id board %>">
  <%
=begin%>
 <p>
    <strong>Title:</strong>
    <%= board.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= board.body %>
  </p> 
<%
=end%>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= board.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Noticeboard #<%= board.id %></h6>
    <p class="card-text"><%= board.body%></p>
    <%= link_to "Edit this board", edit_board_path(board), class: "card-link"%> |
    <%= link_to "Back to boards", boards_path , class:"card-link"%>
  </div>
</div>
</div>
