<%= form_with model: @board do |form| %>
    <% if form.object.errors.any? %>
        <div class="alert alert-danger">
            <% form.object.errors.full_messages.each do |message| %>
            <div><%= message %></div>
            <% end %>
        </div>
    <%end%>
  <div class="mb-3">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>

  <div class="mb-3">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <%= form.label :status, style: "display: block"%>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' ,class: "form-control mt-1 mb-3"%>

  <span style="display:none;"><%=form.select :board_owner, [Current.user.username], selected: Current.user.username%></span>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>