<h3><%=@board.title %></h1>
<p><%= @board.description %></p>

<% if Current.user.username = @board.board_owner%>
    <%= render 'owneroptions'%>
<%end%>


<h4>Posts</h2>
<div class="container-fluid">
<%post_count = @board.posts.count %>
<p>post_count is <%= post_count%></p>
<div class="row">
    <%= render @board.posts%>  
</div>

</div>
<h3>Add a post to this board</h3>
<%= render 'posts/form' %>


